################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/IMC/FileContentIndex/84f694d0-8ff4-41e7-9eb8-864eb2c6ff3c.vsidx
